{
  "name": "examer",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "style/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "vendor/nice-select/nice-select.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "vendor/perfect-scrollbar/css/main.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "vendor/PACKER.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"vendor/ALL-VENDOR.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "vendor/perfect-scrollbar/css"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "style/style.scss",
      "imports": [
        "style/fonts.scss",
        "style/reset.scss"
      ]
    },
    {
      "path": "vendor/PACKER.js",
      "imports": [
        "vendor/jquery-ui.min.js",
        "vendor/jquery.maskedinput.min.js",
        "vendor/jquery.validate.js",
        "vendor/swiper-slider/js/swiper.jquery.min.js",
        "vendor/nice-select/jquery.nice-select.min.js",
        "vendor/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js",
        "vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js",
        "vendor/jquery.quicksearch.min.js"
      ]
    },
    {
      "path": "vendor/perfect-scrollbar/css/main.scss",
      "imports": [
        "vendor/perfect-scrollbar/css/variables.scss",
        "vendor/perfect-scrollbar/css/mixins.scss",
        "vendor/perfect-scrollbar/css/themes.scss"
      ]
    },
    {
      "path": "laravel/public/site/style/style.scss",
      "imports": [
        "laravel/public/site/style/fonts.scss",
        "laravel/public/site/style/reset.scss"
      ]
    },
    {
      "path": "laravel/public/site/vendor/PACKER.js",
      "imports": [
        "laravel/public/site/vendor/jquery-ui.min.js",
        "laravel/public/site/vendor/jquery.maskedinput.min.js",
        "laravel/public/site/vendor/jquery.validate.js",
        "laravel/public/site/vendor/swiper-slider/js/swiper.jquery.min.js",
        "laravel/public/site/vendor/nice-select/jquery.nice-select.min.js",
        "laravel/public/site/vendor/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js",
        "laravel/public/site/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js",
        "laravel/public/site/vendor/jquery.quicksearch.min.js"
      ]
    },
    {
      "path": "laravel/public/site/vendor/perfect-scrollbar/css/main.scss",
      "imports": [
        "laravel/public/site/vendor/perfect-scrollbar/css/variables.scss",
        "laravel/public/site/vendor/perfect-scrollbar/css/mixins.scss",
        "laravel/public/site/vendor/perfect-scrollbar/css/themes.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7891,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/markello.biz/htdocs/examer/",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "ftp68.hostland.ru",
      "port": 21,
      "user": "host1558557",
      "password": "b8f879e2"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.pug",
      "*.jade",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts",
      "laravel",
      "*.gitignore",
      "/.git"
    ],
    "history": [
      {
        "file": ".htaccess",
        "ctime": "2017-05-23T03:39:37.874Z",
        "mtime": "2016-02-22T08:15:03.976Z",
        "size": 2904
      },
      {
        "file": "fonts/ProximaNova-Black.eot",
        "ctime": "2017-08-23T10:16:31.553Z",
        "mtime": "2017-08-23T04:15:24.000Z",
        "size": 127634
      },
      {
        "file": "fonts/ProximaNova-Black.otf",
        "ctime": "2017-08-23T10:16:31.555Z",
        "mtime": "2017-08-23T04:15:20.000Z",
        "size": 93168
      },
      {
        "file": "fonts/ProximaNova-Black.svg",
        "ctime": "2017-08-23T10:16:31.559Z",
        "mtime": "2017-08-23T04:15:26.000Z",
        "size": 397251
      },
      {
        "file": "fonts/ProximaNova-Black.ttf",
        "ctime": "2017-08-23T10:16:31.561Z",
        "mtime": "2017-08-23T04:15:24.000Z",
        "size": 127432
      },
      {
        "file": "fonts/ProximaNova-Black.woff",
        "ctime": "2017-08-23T10:16:31.563Z",
        "mtime": "2017-08-23T04:15:26.000Z",
        "size": 50272
      },
      {
        "file": "fonts/ProximaNova-BlackIt.eot",
        "ctime": "2017-08-23T10:16:31.534Z",
        "mtime": "2017-08-23T04:15:30.000Z",
        "size": 136186
      },
      {
        "file": "fonts/ProximaNova-BlackIt.otf",
        "ctime": "2017-08-23T10:16:31.536Z",
        "mtime": "2017-08-23T04:15:28.000Z",
        "size": 95496
      },
      {
        "file": "fonts/ProximaNova-BlackIt.svg",
        "ctime": "2017-08-23T10:16:31.540Z",
        "mtime": "2017-08-23T04:15:32.000Z",
        "size": 422099
      },
      {
        "file": "fonts/ProximaNova-BlackIt.ttf",
        "ctime": "2017-08-23T10:16:31.543Z",
        "mtime": "2017-08-23T04:15:30.000Z",
        "size": 135964
      },
      {
        "file": "fonts/ProximaNova-BlackIt.woff",
        "ctime": "2017-08-23T10:16:31.545Z",
        "mtime": "2017-08-23T04:15:32.000Z",
        "size": 52720
      },
      {
        "file": "fonts/ProximaNova-Bold.eot",
        "ctime": "2017-04-24T12:49:28.445Z",
        "mtime": "2017-04-24T12:49:28.445Z",
        "size": 129738
      },
      {
        "file": "fonts/ProximaNova-Bold.otf",
        "ctime": "2017-04-24T12:49:29.610Z",
        "mtime": "2017-04-24T12:49:29.610Z",
        "size": 96640
      },
      {
        "file": "fonts/ProximaNova-Bold.svg",
        "ctime": "2017-04-24T12:49:27.549Z",
        "mtime": "2017-04-24T12:49:27.549Z",
        "size": 409498
      },
      {
        "file": "fonts/ProximaNova-Bold.ttf",
        "ctime": "2017-07-15T07:02:04.109Z",
        "mtime": "2017-04-24T12:49:30.260Z",
        "size": 129540
      },
      {
        "file": "fonts/ProximaNova-Bold.woff",
        "ctime": "2017-04-24T12:49:31.082Z",
        "mtime": "2017-04-24T12:49:31.082Z",
        "size": 51928
      },
      {
        "file": "fonts/ProximaNova-BoldIt.eot",
        "ctime": "2017-08-23T10:16:33.243Z",
        "mtime": "2017-08-23T04:15:52.000Z",
        "size": 137918
      },
      {
        "file": "fonts/ProximaNova-BoldIt.otf",
        "ctime": "2017-08-23T10:16:33.245Z",
        "mtime": "2017-08-23T04:15:48.000Z",
        "size": 101200
      },
      {
        "file": "fonts/ProximaNova-BoldIt.svg",
        "ctime": "2017-08-23T10:16:33.249Z",
        "mtime": "2017-08-23T04:15:54.000Z",
        "size": 428274
      },
      {
        "file": "fonts/ProximaNova-BoldIt.ttf",
        "ctime": "2017-08-23T10:16:33.252Z",
        "mtime": "2017-08-23T04:15:52.000Z",
        "size": 137700
      },
      {
        "file": "fonts/ProximaNova-BoldIt.woff",
        "ctime": "2017-08-23T10:16:33.254Z",
        "mtime": "2017-08-23T04:15:54.000Z",
        "size": 54472
      },
      {
        "file": "fonts/ProximaNova-Extrabld.eot",
        "ctime": "2017-08-23T10:08:59.879Z",
        "mtime": "2017-08-23T04:06:44.000Z",
        "size": 129670
      },
      {
        "file": "fonts/ProximaNova-Extrabld.otf",
        "ctime": "2017-08-23T10:08:59.881Z",
        "mtime": "2017-08-23T04:06:38.000Z",
        "size": 95996
      },
      {
        "file": "fonts/ProximaNova-Extrabld.svg",
        "ctime": "2017-08-23T10:08:59.885Z",
        "mtime": "2017-08-23T04:06:46.000Z",
        "size": 405948
      },
      {
        "file": "fonts/ProximaNova-Extrabld.ttf",
        "ctime": "2017-08-23T10:08:59.888Z",
        "mtime": "2017-08-23T04:06:44.000Z",
        "size": 129452
      },
      {
        "file": "fonts/ProximaNova-Extrabld.woff",
        "ctime": "2017-08-23T10:08:59.890Z",
        "mtime": "2017-08-23T04:06:46.000Z",
        "size": 51508
      },
      {
        "file": "fonts/ProximaNova-ExtrabldIt.eot",
        "ctime": "2017-08-23T10:08:58.491Z",
        "mtime": "2017-08-23T04:06:40.000Z",
        "size": 137186
      },
      {
        "file": "fonts/ProximaNova-ExtrabldIt.otf",
        "ctime": "2017-08-23T10:08:58.494Z",
        "mtime": "2017-08-23T04:06:36.000Z",
        "size": 98956
      },
      {
        "file": "fonts/ProximaNova-ExtrabldIt.svg",
        "ctime": "2017-08-23T10:08:58.497Z",
        "mtime": "2017-08-23T04:06:42.000Z",
        "size": 425979
      },
      {
        "file": "fonts/ProximaNova-ExtrabldIt.ttf",
        "ctime": "2017-08-23T10:08:58.500Z",
        "mtime": "2017-08-23T04:06:40.000Z",
        "size": 136948
      },
      {
        "file": "fonts/ProximaNova-ExtrabldIt.woff",
        "ctime": "2017-08-23T10:08:58.502Z",
        "mtime": "2017-08-23T04:06:42.000Z",
        "size": 54088
      },
      {
        "file": "fonts/ProximaNova-Light.eot",
        "ctime": "2017-08-23T10:08:59.936Z",
        "mtime": "2017-08-23T04:07:10.000Z",
        "size": 132298
      },
      {
        "file": "fonts/ProximaNova-Light.otf",
        "ctime": "2017-08-23T10:08:59.939Z",
        "mtime": "2017-08-23T04:07:06.000Z",
        "size": 94316
      },
      {
        "file": "fonts/ProximaNova-Light.svg",
        "ctime": "2017-08-23T10:08:59.943Z",
        "mtime": "2017-08-23T04:07:12.000Z",
        "size": 410286
      },
      {
        "file": "fonts/ProximaNova-Light.ttf",
        "ctime": "2017-08-23T10:08:59.946Z",
        "mtime": "2017-08-23T04:07:10.000Z",
        "size": 132096
      },
      {
        "file": "fonts/ProximaNova-Light.woff",
        "ctime": "2017-08-23T10:08:59.947Z",
        "mtime": "2017-08-23T04:07:12.000Z",
        "size": 52308
      },
      {
        "file": "fonts/ProximaNova-LightIt.eot",
        "ctime": "2017-08-23T10:08:59.899Z",
        "mtime": "2017-08-23T04:06:56.000Z",
        "size": 139322
      },
      {
        "file": "fonts/ProximaNova-LightIt.otf",
        "ctime": "2017-08-23T10:08:59.901Z",
        "mtime": "2017-08-23T04:06:50.000Z",
        "size": 95892
      },
      {
        "file": "fonts/ProximaNova-LightIt.svg",
        "ctime": "2017-08-23T10:08:59.905Z",
        "mtime": "2017-08-23T04:06:58.000Z",
        "size": 432383
      },
      {
        "file": "fonts/ProximaNova-LightIt.ttf",
        "ctime": "2017-08-23T10:08:59.908Z",
        "mtime": "2017-08-23T04:06:56.000Z",
        "size": 139100
      },
      {
        "file": "fonts/ProximaNova-LightIt.woff",
        "ctime": "2017-08-23T10:08:59.910Z",
        "mtime": "2017-08-23T04:06:58.000Z",
        "size": 54968
      },
      {
        "file": "fonts/ProximaNova-Regular.eot",
        "ctime": "2017-08-23T10:08:59.976Z",
        "mtime": "2017-08-23T04:07:52.000Z",
        "size": 130826
      },
      {
        "file": "fonts/ProximaNova-Regular.otf",
        "ctime": "2017-08-23T10:08:59.979Z",
        "mtime": "2017-08-23T04:07:46.000Z",
        "size": 94668
      },
      {
        "file": "fonts/ProximaNova-Regular.svg",
        "ctime": "2017-08-23T10:08:59.982Z",
        "mtime": "2017-08-23T04:07:54.000Z",
        "size": 410766
      },
      {
        "file": "fonts/ProximaNova-Regular.ttf",
        "ctime": "2017-08-23T10:08:59.985Z",
        "mtime": "2017-08-23T04:07:52.000Z",
        "size": 130616
      },
      {
        "file": "fonts/ProximaNova-Regular.woff",
        "ctime": "2017-08-23T10:08:59.987Z",
        "mtime": "2017-08-23T04:07:54.000Z",
        "size": 52280
      },
      {
        "file": "fonts/ProximaNova-RegularIt.eot",
        "ctime": "2017-08-23T10:08:59.957Z",
        "mtime": "2017-08-23T04:07:46.000Z",
        "size": 138542
      },
      {
        "file": "fonts/ProximaNova-RegularIt.otf",
        "ctime": "2017-08-23T10:08:59.959Z",
        "mtime": "2017-08-23T04:07:42.000Z",
        "size": 94884
      },
      {
        "file": "fonts/ProximaNova-RegularIt.svg",
        "ctime": "2017-08-23T10:08:59.963Z",
        "mtime": "2017-08-23T04:07:48.000Z",
        "size": 429580
      },
      {
        "file": "fonts/ProximaNova-RegularIt.ttf",
        "ctime": "2017-08-23T10:08:59.965Z",
        "mtime": "2017-08-23T04:07:46.000Z",
        "size": 138312
      },
      {
        "file": "fonts/ProximaNova-RegularIt.woff",
        "ctime": "2017-08-23T10:08:59.967Z",
        "mtime": "2017-08-23T04:07:48.000Z",
        "size": 54784
      },
      {
        "file": "fonts/ProximaNova-Semibold.eot",
        "ctime": "2017-08-23T10:09:00.015Z",
        "mtime": "2017-08-23T04:08:04.000Z",
        "size": 130958
      },
      {
        "file": "fonts/ProximaNova-Semibold.otf",
        "ctime": "2017-08-23T10:09:00.209Z",
        "mtime": "2017-08-23T04:07:58.000Z",
        "size": 91904
      },
      {
        "file": "fonts/ProximaNova-Semibold.svg",
        "ctime": "2017-08-23T10:09:00.213Z",
        "mtime": "2017-08-23T04:08:04.000Z",
        "size": 409535
      },
      {
        "file": "fonts/ProximaNova-Semibold.ttf",
        "ctime": "2017-08-23T10:09:00.216Z",
        "mtime": "2017-08-23T04:08:04.000Z",
        "size": 130744
      },
      {
        "file": "fonts/ProximaNova-Semibold.woff",
        "ctime": "2017-08-23T10:09:00.218Z",
        "mtime": "2017-08-23T04:08:06.000Z",
        "size": 51752
      },
      {
        "file": "fonts/ProximaNova-SemiboldIt.eot",
        "ctime": "2017-08-23T10:08:59.995Z",
        "mtime": "2017-08-23T04:07:56.000Z",
        "size": 138466
      },
      {
        "file": "fonts/ProximaNova-SemiboldIt.otf",
        "ctime": "2017-08-23T10:08:59.998Z",
        "mtime": "2017-08-23T04:07:52.000Z",
        "size": 95328
      },
      {
        "file": "fonts/ProximaNova-SemiboldIt.svg",
        "ctime": "2017-08-23T10:09:00.002Z",
        "mtime": "2017-08-23T04:07:58.000Z",
        "size": 431630
      },
      {
        "file": "fonts/ProximaNova-SemiboldIt.ttf",
        "ctime": "2017-08-23T10:09:00.005Z",
        "mtime": "2017-08-23T04:07:56.000Z",
        "size": 138232
      },
      {
        "file": "fonts/ProximaNova-SemiboldIt.woff",
        "ctime": "2017-08-23T10:09:00.007Z",
        "mtime": "2017-08-23T04:07:58.000Z",
        "size": 54224
      },
      {
        "file": "fonts/ProximaNova-ThinIt.eot",
        "ctime": "2017-08-23T10:09:00.226Z",
        "mtime": "2017-08-23T04:08:28.000Z",
        "size": 139558
      },
      {
        "file": "fonts/ProximaNova-ThinIt.otf",
        "ctime": "2017-08-23T10:09:00.229Z",
        "mtime": "2017-08-23T04:08:24.000Z",
        "size": 95184
      },
      {
        "file": "fonts/ProximaNova-ThinIt.svg",
        "ctime": "2017-08-23T10:09:00.232Z",
        "mtime": "2017-08-23T04:08:28.000Z",
        "size": 414941
      },
      {
        "file": "fonts/ProximaNova-ThinIt.ttf",
        "ctime": "2017-08-23T10:09:00.235Z",
        "mtime": "2017-08-23T04:08:28.000Z",
        "size": 139340
      },
      {
        "file": "fonts/ProximaNova-ThinIt.woff",
        "ctime": "2017-08-23T10:09:00.237Z",
        "mtime": "2017-08-23T04:08:30.000Z",
        "size": 53756
      },
      {
        "file": "fonts/ProximaNovaT-Thin.eot",
        "ctime": "2017-08-23T10:08:58.471Z",
        "mtime": "2017-08-23T04:08:34.000Z",
        "size": 132418
      },
      {
        "file": "fonts/ProximaNovaT-Thin.otf",
        "ctime": "2017-08-23T10:08:58.474Z",
        "mtime": "2017-08-23T04:08:30.000Z",
        "size": 90796
      },
      {
        "file": "fonts/ProximaNovaT-Thin.svg",
        "ctime": "2017-08-23T10:08:58.478Z",
        "mtime": "2017-08-23T04:08:36.000Z",
        "size": 406178
      },
      {
        "file": "fonts/ProximaNovaT-Thin.ttf",
        "ctime": "2017-08-23T10:08:58.481Z",
        "mtime": "2017-08-23T04:08:34.000Z",
        "size": 132220
      },
      {
        "file": "fonts/ProximaNovaT-Thin.woff",
        "ctime": "2017-08-23T10:08:58.483Z",
        "mtime": "2017-08-23T04:08:36.000Z",
        "size": 51312
      },
      {
        "file": "images/1-place.png",
        "ctime": "2017-09-13T10:57:23.712Z",
        "mtime": "2017-09-13T10:57:23.712Z",
        "size": 2372
      },
      {
        "file": "images/apple-touch-icon-114x114.png",
        "ctime": "2017-05-26T10:59:32.694Z",
        "mtime": "2017-05-26T10:59:32.694Z",
        "size": 3085
      },
      {
        "file": "images/apple-touch-icon-57x57.png",
        "ctime": "2017-05-26T11:00:19.314Z",
        "mtime": "2017-05-26T11:00:19.314Z",
        "size": 1813
      },
      {
        "file": "images/apple-touch-icon-72x72.png",
        "ctime": "2017-05-26T11:00:12.802Z",
        "mtime": "2017-05-26T11:00:12.802Z",
        "size": 2206
      },
      {
        "file": "images/attainment.png",
        "ctime": "2017-09-13T10:06:44.578Z",
        "mtime": "2017-09-13T10:06:44.578Z",
        "size": 15835
      },
      {
        "file": "images/favicon.ico",
        "ctime": "2017-05-26T11:01:13.609Z",
        "mtime": "2017-05-26T11:01:13.609Z",
        "size": 4286
      },
      {
        "file": "images/favicon.png",
        "ctime": "2017-05-26T11:00:25.895Z",
        "mtime": "2017-05-26T11:00:25.895Z",
        "size": 1436
      },
      {
        "file": "images/Favicon_144x144.png",
        "ctime": "2017-05-26T11:00:02.163Z",
        "mtime": "2017-05-26T11:00:02.163Z",
        "size": 3860
      },
      {
        "file": "images/logo-white.png",
        "ctime": "2017-09-12T07:55:34.132Z",
        "mtime": "2017-09-12T07:55:34.132Z",
        "size": 2730
      },
      {
        "file": "images/main-bg-pattern.png",
        "ctime": "2017-09-22T11:54:41.487Z",
        "mtime": "2017-09-22T11:54:41.487Z",
        "size": 1376478
      },
      {
        "file": "images/pedestal.png",
        "ctime": "2017-09-13T10:24:35.267Z",
        "mtime": "2017-09-13T10:24:35.267Z",
        "size": 2942
      },
      {
        "file": "images/task-triangle.png",
        "ctime": "2017-09-12T11:48:22.211Z",
        "mtime": "2017-09-12T11:48:22.211Z",
        "size": 2081
      },
      {
        "file": "images/user-photo.jpg",
        "ctime": "2017-09-14T11:59:12.739Z",
        "mtime": "2017-09-14T11:59:12.739Z",
        "size": 13924
      },
      {
        "file": "images/user-photo.png",
        "ctime": "2017-09-14T11:59:07.640Z",
        "mtime": "2017-09-14T11:59:07.640Z",
        "size": 30820
      },
      {
        "file": "images/white-triangle@2x.png",
        "ctime": "2017-09-12T12:23:05.670Z",
        "mtime": "2017-09-12T12:23:05.670Z",
        "size": 1823
      },
      {
        "file": "images/ico/close.svg",
        "ctime": "2017-09-13T12:08:58.402Z",
        "mtime": "2017-09-13T12:08:58.402Z",
        "size": 415
      },
      {
        "file": "images/ico/envelope.svg",
        "ctime": "2017-09-13T11:45:24.163Z",
        "mtime": "2017-09-13T11:45:24.163Z",
        "size": 296
      },
      {
        "file": "images/ico/lock.png",
        "ctime": "2017-09-12T11:17:03.045Z",
        "mtime": "2017-09-12T11:17:03.045Z",
        "size": 765
      },
      {
        "file": "images/ico/menu-ico-1.svg",
        "ctime": "2017-09-12T08:45:15.126Z",
        "mtime": "2017-09-12T08:45:15.126Z",
        "size": 1171
      },
      {
        "file": "images/ico/menu-ico-2.svg",
        "ctime": "2017-09-12T08:45:15.126Z",
        "mtime": "2017-09-12T08:45:15.126Z",
        "size": 631
      },
      {
        "file": "images/ico/menu-ico-3.svg",
        "ctime": "2017-09-12T08:45:15.134Z",
        "mtime": "2017-09-12T08:45:15.134Z",
        "size": 398
      },
      {
        "file": "images/ico/menu-ico-4.svg",
        "ctime": "2017-09-12T08:45:15.127Z",
        "mtime": "2017-09-12T08:45:15.127Z",
        "size": 1421
      },
      {
        "file": "images/ico/menu-ico-5.svg",
        "ctime": "2017-09-12T08:45:15.126Z",
        "mtime": "2017-09-12T08:45:15.126Z",
        "size": 970
      },
      {
        "file": "images/ico/pen.svg",
        "ctime": "2017-09-12T09:19:18.368Z",
        "mtime": "2017-09-12T09:19:18.368Z",
        "size": 316
      },
      {
        "file": "images/ico/russia.svg",
        "ctime": "2017-09-12T09:16:05.021Z",
        "mtime": "2017-09-12T09:16:05.021Z",
        "size": 2421
      },
      {
        "file": "images/ico/star-quest.png",
        "ctime": "2017-09-12T09:32:24.611Z",
        "mtime": "2017-09-12T09:32:24.611Z",
        "size": 950
      },
      {
        "file": "images/ico/star.svg",
        "ctime": "2017-09-12T08:00:35.994Z",
        "mtime": "2017-09-12T08:00:35.994Z",
        "size": 439
      },
      {
        "file": "images/ico/stat.svg",
        "ctime": "2017-09-12T09:28:27.843Z",
        "mtime": "2017-09-12T09:28:27.843Z",
        "size": 991
      },
      {
        "file": "images/ico/task-triangle.svg",
        "ctime": "2017-09-12T11:07:44.730Z",
        "mtime": "2017-09-12T11:07:44.730Z",
        "size": 148
      },
      {
        "file": "images/modules/modules-ico-1.png",
        "ctime": "2017-09-13T06:37:35.638Z",
        "mtime": "2017-09-13T06:37:35.638Z",
        "size": 1485
      },
      {
        "file": "images/modules/modules-ico-2.png",
        "ctime": "2017-09-13T06:37:49.522Z",
        "mtime": "2017-09-13T06:37:49.522Z",
        "size": 1209
      },
      {
        "file": "images/modules/modules-ico-3.png",
        "ctime": "2017-09-12T12:01:15.326Z",
        "mtime": "2017-09-12T12:01:15.326Z",
        "size": 1353
      },
      {
        "file": "images/modules/modules-ico-4.png",
        "ctime": "2017-09-12T12:01:32.157Z",
        "mtime": "2017-09-12T12:01:32.157Z",
        "size": 882
      },
      {
        "file": "images/subjects/Biology.svg",
        "ctime": "2017-09-13T12:38:34.044Z",
        "mtime": "2017-09-13T12:38:34.044Z",
        "size": 1624
      },
      {
        "file": "images/subjects/Chemistry.svg",
        "ctime": "2017-09-13T12:38:34.043Z",
        "mtime": "2017-09-13T12:38:34.043Z",
        "size": 1595
      },
      {
        "file": "images/subjects/Computer.svg",
        "ctime": "2017-09-13T12:38:34.043Z",
        "mtime": "2017-09-13T12:38:34.043Z",
        "size": 1575
      },
      {
        "file": "images/subjects/Geography.svg",
        "ctime": "2017-09-13T12:38:34.043Z",
        "mtime": "2017-09-13T12:38:34.043Z",
        "size": 2381
      },
      {
        "file": "images/subjects/History.svg",
        "ctime": "2017-09-13T12:38:34.043Z",
        "mtime": "2017-09-13T12:38:34.043Z",
        "size": 1447
      },
      {
        "file": "images/subjects/Mathematics.svg",
        "ctime": "2017-09-13T12:38:34.043Z",
        "mtime": "2017-09-13T12:38:34.043Z",
        "size": 1923
      },
      {
        "file": "images/subjects/Physics.svg",
        "ctime": "2017-09-13T12:38:34.044Z",
        "mtime": "2017-09-13T12:38:34.044Z",
        "size": 3673
      },
      {
        "file": "images/subjects/Russian.svg",
        "ctime": "2017-09-13T12:38:34.043Z",
        "mtime": "2017-09-13T12:38:34.043Z",
        "size": 2144
      },
      {
        "file": "images/subjects/Social.svg",
        "ctime": "2017-09-13T12:38:34.043Z",
        "mtime": "2017-09-13T12:38:34.043Z",
        "size": 4493
      },
      {
        "file": "index.html",
        "ctime": "2017-11-06T09:46:33.595Z",
        "mtime": "2017-11-06T09:46:33.595Z",
        "size": 123709
      },
      {
        "file": "js/main.js",
        "ctime": "2017-11-06T09:29:17.766Z",
        "mtime": "2017-11-06T09:29:17.766Z",
        "size": 11908
      },
      {
        "file": "js/popup.js",
        "ctime": "2017-09-22T17:49:30.828Z",
        "mtime": "2017-09-22T17:49:30.828Z",
        "size": 955
      },
      {
        "file": "js/validate.page.js",
        "ctime": "2017-05-20T06:57:30.363Z",
        "mtime": "2017-05-20T06:57:30.363Z",
        "size": 1556
      },
      {
        "file": "robots.txt",
        "ctime": "2017-04-24T12:09:03.603Z",
        "mtime": "2017-04-15T05:26:30.309Z",
        "size": 26
      },
      {
        "file": "send.php",
        "ctime": "2017-05-20T06:57:00.562Z",
        "mtime": "2017-05-20T06:57:00.562Z",
        "size": 5095
      },
      {
        "file": "style/fonts.scss",
        "ctime": "2017-10-23T09:01:50.878Z",
        "mtime": "2017-09-12T03:43:38.448Z",
        "size": 6180
      },
      {
        "file": "style/reset.scss",
        "ctime": "2017-09-12T03:38:57.072Z",
        "mtime": "2017-07-10T09:18:01.286Z",
        "size": 1395
      },
      {
        "file": "style/style.css",
        "ctime": "2017-11-06T09:36:14.360Z",
        "mtime": "2017-11-06T09:36:14.360Z",
        "size": 137927
      },
      {
        "file": "style/style.css.map",
        "ctime": "2017-11-06T09:36:14.357Z",
        "mtime": "2017-11-06T09:36:14.357Z",
        "size": 65932
      },
      {
        "file": "style/style.scss",
        "ctime": "2017-11-06T09:36:13.323Z",
        "mtime": "2017-11-06T09:36:13.323Z",
        "size": 115170
      },
      {
        "file": "vendor/jquery-ui.min.js",
        "ctime": "2017-09-12T11:34:13.520Z",
        "mtime": "2017-09-12T05:34:10.000Z",
        "size": 54373
      },
      {
        "file": "vendor/jquery.js",
        "ctime": "2017-09-06T04:29:36.483Z",
        "mtime": "2016-11-11T10:52:09.372Z",
        "size": 95935
      },
      {
        "file": "vendor/jquery.maskedinput.min.js",
        "ctime": "2017-09-06T04:29:36.485Z",
        "mtime": "2016-11-11T10:52:09.385Z",
        "size": 4332
      },
      {
        "file": "vendor/jquery.validate.js",
        "ctime": "2017-09-06T04:29:36.488Z",
        "mtime": "2015-02-17T06:40:03.016Z",
        "size": 44511
      },
      {
        "file": "vendor/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js",
        "ctime": "2017-09-14T05:18:22.854Z",
        "mtime": "2016-07-06T04:46:02.000Z",
        "size": 45479
      },
      {
        "file": "vendor/mCustomScrollbar/jquery.mCustomScrollbar.min.css",
        "ctime": "2017-08-15T05:29:54.771Z",
        "mtime": "2016-07-06T04:46:02.000Z",
        "size": 42839
      },
      {
        "file": "vendor/nice-select/jquery.nice-select.min.js",
        "ctime": "2017-09-06T04:25:10.899Z",
        "mtime": "2016-05-08T15:32:24.000Z",
        "size": 2942
      },
      {
        "file": "vendor/nice-select/nice-select.css",
        "ctime": "2017-09-22T17:49:09.673Z",
        "mtime": "2017-09-22T17:49:09.673Z",
        "size": 3504
      },
      {
        "file": "vendor/nice-select/nice-select.scss",
        "ctime": "2017-09-22T17:49:09.527Z",
        "mtime": "2017-09-22T17:49:09.527Z",
        "size": 4379
      },
      {
        "file": "vendor/perfect-scrollbar/css/main.css",
        "ctime": "2017-09-22T17:40:49.127Z",
        "mtime": "2017-09-22T17:40:49.127Z",
        "size": 3218
      },
      {
        "file": "vendor/perfect-scrollbar/css/main.scss",
        "ctime": "2017-09-06T04:27:08.860Z",
        "mtime": "2017-09-05T03:12:16.000Z",
        "size": 57
      },
      {
        "file": "vendor/perfect-scrollbar/css/mixins.scss",
        "ctime": "2017-09-06T04:27:08.862Z",
        "mtime": "2017-09-05T03:12:16.000Z",
        "size": 3557
      },
      {
        "file": "vendor/perfect-scrollbar/css/themes.scss",
        "ctime": "2017-09-06T04:27:08.864Z",
        "mtime": "2017-09-05T03:12:16.000Z",
        "size": 952
      },
      {
        "file": "vendor/perfect-scrollbar/css/variables.scss",
        "ctime": "2017-09-22T17:40:48.931Z",
        "mtime": "2017-09-22T17:40:48.931Z",
        "size": 733
      },
      {
        "file": "vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.js",
        "ctime": "2017-09-06T04:27:08.755Z",
        "mtime": "2017-09-05T03:12:16.000Z",
        "size": 45611
      },
      {
        "file": "vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js",
        "ctime": "2017-09-06T04:27:08.762Z",
        "mtime": "2017-09-05T03:12:16.000Z",
        "size": 24719
      },
      {
        "file": "vendor/perfect-scrollbar/js/perfect-scrollbar.js",
        "ctime": "2017-09-06T04:27:08.769Z",
        "mtime": "2017-09-05T03:12:16.000Z",
        "size": 44788
      },
      {
        "file": "vendor/perfect-scrollbar/js/perfect-scrollbar.min.js",
        "ctime": "2017-09-06T04:27:08.773Z",
        "mtime": "2017-09-05T03:12:16.000Z",
        "size": 24398
      },
      {
        "file": "vendor/swiper-slider/css/swiper.css",
        "ctime": "2017-09-06T04:30:27.125Z",
        "mtime": "2017-08-22T23:42:46.000Z",
        "size": 20670
      },
      {
        "file": "vendor/swiper-slider/css/swiper.min.css",
        "ctime": "2017-09-06T04:31:45.776Z",
        "mtime": "2017-08-22T23:42:46.000Z",
        "size": 17759
      },
      {
        "file": "vendor/swiper-slider/js/swiper.jquery.js",
        "ctime": "2017-09-06T04:30:27.162Z",
        "mtime": "2017-08-22T23:42:46.000Z",
        "size": 208639
      },
      {
        "file": "vendor/swiper-slider/js/swiper.jquery.min.js",
        "ctime": "2017-09-06T04:30:27.171Z",
        "mtime": "2017-08-22T23:42:46.000Z",
        "size": 86923
      },
      {
        "file": "vendor/swiper-slider/js/swiper.jquery.umd.js",
        "ctime": "2017-09-06T04:30:27.189Z",
        "mtime": "2017-08-22T23:42:46.000Z",
        "size": 208443
      },
      {
        "file": "vendor/swiper-slider/js/swiper.jquery.umd.min.js",
        "ctime": "2017-09-06T04:30:27.197Z",
        "mtime": "2017-08-22T23:42:46.000Z",
        "size": 86789
      },
      {
        "file": "vendor/swiper-slider/js/swiper.js",
        "ctime": "2017-09-06T04:30:27.216Z",
        "mtime": "2017-08-22T23:42:46.000Z",
        "size": 236987
      },
      {
        "file": "vendor/swiper-slider/js/swiper.min.js",
        "ctime": "2017-09-06T04:30:27.226Z",
        "mtime": "2017-08-22T23:42:46.000Z",
        "size": 96419
      },
      {
        "file": "vendor/swiper-slider/js/maps/swiper.jquery.min.js.map",
        "ctime": "2017-09-06T04:30:27.132Z",
        "mtime": "2017-08-22T23:42:46.000Z",
        "size": 317818
      },
      {
        "file": "vendor/swiper-slider/js/maps/swiper.jquery.umd.min.js.map",
        "ctime": "2017-09-06T04:30:27.137Z",
        "mtime": "2017-08-22T23:42:46.000Z",
        "size": 317471
      },
      {
        "file": "vendor/swiper-slider/js/maps/swiper.min.js.map",
        "ctime": "2017-09-06T04:30:27.142Z",
        "mtime": "2017-08-22T23:42:46.000Z",
        "size": 360408
      },
      {
        "file": "cabinet.html",
        "ctime": "2017-11-06T09:46:33.570Z",
        "mtime": "2017-11-06T09:46:33.570Z",
        "size": 89720
      },
      {
        "file": "faq.html",
        "ctime": "2017-11-06T09:46:33.581Z",
        "mtime": "2017-11-06T09:46:33.581Z",
        "size": 79132
      },
      {
        "file": "g_format.html",
        "ctime": "2017-10-30T14:03:33.536Z",
        "mtime": "2017-10-30T14:03:33.536Z",
        "size": 50717
      },
      {
        "file": "images/big-crown.png",
        "ctime": "2017-09-18T09:57:26.575Z",
        "mtime": "2017-09-18T09:57:26.575Z",
        "size": 4015
      },
      {
        "file": "images/images.rar",
        "ctime": "2017-09-18T12:57:56.632Z",
        "mtime": "2017-09-18T12:57:56.632Z",
        "size": 12023
      },
      {
        "file": "images/scalelvl-this.svg",
        "ctime": "2017-09-14T06:09:08.011Z",
        "mtime": "2017-09-14T06:07:59.027Z",
        "size": 592
      },
      {
        "file": "images/subject-bg.png",
        "ctime": "2017-09-18T10:47:02.964Z",
        "mtime": "2017-09-18T10:47:02.964Z",
        "size": 3099
      },
      {
        "file": "images/subject-bg.svg",
        "ctime": "2017-09-15T05:10:04.615Z",
        "mtime": "2017-09-15T05:10:04.615Z",
        "size": 870
      },
      {
        "file": "images/vebinat-img.jpg",
        "ctime": "2017-09-21T10:15:04.257Z",
        "mtime": "2017-09-21T10:15:04.257Z",
        "size": 52580
      },
      {
        "file": "images/ico/apen.png",
        "ctime": "2017-09-22T04:24:10.544Z",
        "mtime": "2017-09-22T04:24:10.544Z",
        "size": 764
      },
      {
        "file": "images/ico/arr-left.svg",
        "ctime": "2017-09-15T08:53:45.422Z",
        "mtime": "2017-09-15T08:53:45.422Z",
        "size": 469
      },
      {
        "file": "images/ico/arr-right.svg",
        "ctime": "2017-09-18T03:41:07.116Z",
        "mtime": "2017-09-18T03:41:07.116Z",
        "size": 507
      },
      {
        "file": "images/ico/blank.png",
        "ctime": "2017-09-21T03:25:17.422Z",
        "mtime": "2017-09-21T03:25:17.422Z",
        "size": 772
      },
      {
        "file": "images/ico/crown.png",
        "ctime": "2017-09-18T09:37:26.122Z",
        "mtime": "2017-09-18T09:37:26.122Z",
        "size": 1104
      },
      {
        "file": "images/ico/imac.png",
        "ctime": "2017-09-21T10:00:40.955Z",
        "mtime": "2017-09-21T10:00:40.955Z",
        "size": 728
      },
      {
        "file": "images/ico/minus.svg",
        "ctime": "2017-09-20T06:49:50.468Z",
        "mtime": "2017-09-20T06:49:50.468Z",
        "size": 292
      },
      {
        "file": "images/ico/plus.svg",
        "ctime": "2017-09-20T06:49:50.468Z",
        "mtime": "2017-09-20T06:49:50.468Z",
        "size": 346
      },
      {
        "file": "images/ico/qustion.png",
        "ctime": "2017-09-21T11:40:21.637Z",
        "mtime": "2017-09-21T11:40:21.637Z",
        "size": 1135
      },
      {
        "file": "images/ico/reload.svg",
        "ctime": "2017-09-18T03:36:40.347Z",
        "mtime": "2017-09-18T03:36:40.347Z",
        "size": 680
      },
      {
        "file": "images/ico/tutor.png",
        "ctime": "2017-09-20T06:16:48.202Z",
        "mtime": "2017-09-20T06:16:48.202Z",
        "size": 3178
      },
      {
        "file": "quest.html",
        "ctime": "2017-11-06T09:46:33.608Z",
        "mtime": "2017-11-06T09:46:33.608Z",
        "size": 116931
      },
      {
        "file": "tariff.html",
        "ctime": "2017-11-06T09:45:36.167Z",
        "mtime": "2017-11-06T09:45:36.167Z",
        "size": 81946
      },
      {
        "file": "tasks.html",
        "ctime": "2017-11-06T09:46:33.623Z",
        "mtime": "2017-11-06T09:46:33.623Z",
        "size": 87782
      },
      {
        "file": "theme.html",
        "ctime": "2017-11-06T09:46:33.633Z",
        "mtime": "2017-11-06T09:46:33.633Z",
        "size": 98529
      },
      {
        "file": "variant.html",
        "ctime": "2017-11-06T09:46:33.643Z",
        "mtime": "2017-11-06T09:46:33.643Z",
        "size": 87126
      },
      {
        "file": "variants.html",
        "ctime": "2017-11-06T09:46:33.653Z",
        "mtime": "2017-11-06T09:46:33.653Z",
        "size": 86686
      },
      {
        "file": "vebinars.html",
        "ctime": "2017-11-06T09:46:33.663Z",
        "mtime": "2017-11-06T09:46:33.663Z",
        "size": 83806
      },
      {
        "file": "vendor/ALL-VENDOR.js",
        "ctime": "2017-09-22T17:35:28.736Z",
        "mtime": "2017-09-22T17:35:28.736Z",
        "size": 248641
      },
      {
        "file": "vendor/jquery.quicksearch.min.js",
        "ctime": "2017-09-21T06:36:48.748Z",
        "mtime": "2017-08-15T02:40:30.000Z",
        "size": 10904
      },
      {
        "file": "vendor/PACKER.js",
        "ctime": "2017-09-22T17:35:22.237Z",
        "mtime": "2017-09-22T17:35:22.237Z",
        "size": 422
      },
      {
        "file": "images/logo-black.png",
        "ctime": "2017-11-06T09:01:18.283Z",
        "mtime": "2017-11-06T09:01:18.283Z",
        "size": 5735
      },
      {
        "file": "_trg.js",
        "ctime": "2016-11-16T05:58:18.103Z",
        "mtime": "2016-11-16T05:58:18.103Z",
        "size": 10578
      },
      {
        "file": "_trg.php",
        "ctime": "2016-11-15T12:14:51.365Z",
        "mtime": "2016-11-15T12:14:51.365Z",
        "size": 408
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"autoCompile\":false,\"sourceMap\":true,\"compiler-node-sass\":{\"outputStyle\":\"compact\"},\"compiler-minify-css\":{\"enabled\":true}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false}}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"],\"autoCompile\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"pug\",\"jade\"],\"replaceSegmentsWith\":\"html\",\"relative\":\"\"},\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"compiler-autoprefixer\":{\"enabled\":false}}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"],\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false}}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"],\"autoCompile\":false}",
  "file-type-haml": "{\"compilers\":[\"haml\"],\"autoCompile\":false}",
  "file-type-slim": "{\"compilers\":[\"slim\"],\"autoCompile\":false}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"],\"autoCompile\":false}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"],\"autoCompile\":false}",
  "file-type-kit": "{\"compilers\":[\"kit\"],\"autoCompile\":false}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"],\"autoCompile\":false}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}